<launch>

	<include file="$(find manipulation)/launch/static_transforms.launch" />

	<arg name="name1" default="RAUVI1" />
	<arg name="name2" default="RAUVI2" />
	<arg name="goal1" default="goal1" />
	<arg name="goal2" default="goal2" />


	<node name="goalsDetection" pkg="manipulation" type="goalDetection" respawn="false" output="screen" />
	<node name="goToGoal_RAUVI1" pkg="manipulation" type="gotoBox" respawn="false" output="screen" args="$(arg name1)" />
	<node name="goToGoal_RAUVI2" pkg="manipulation" type="gotoBox" respawn="false" output="screen" args="$(arg name2)" />
	
	<node name="inverseKinematicProblem_RAUVI1" pkg="manipulation" type="InverseKinematicProblem" respawn="false" output="screen" args="$(arg name1) $(arg goal1)" />
	<node name="inverseKinematicProblem_RAUVI2" pkg="manipulation" type="InverseKinematicProblem" respawn="false" output="screen" args="$(arg name2) $(arg goal2)" />

</launch>
